*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 1000vh;
}
.header{
    display: flex;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: rgb(241, 149, 87);
    /* position: fixed;
    top: 0%;
    width: 100%; */
    /* z-index: 100; */
    /* border: solid 2px burlywood; */

}
.logo-container .logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
   
}
.navbar {
   position: absolute;
   left: 140vmin;
   top: -1px;
  }
.navbar ul{
display: flex;
justify-content:space-between;
width: 100%;
list-style: none;

}
.navbar ul li{
    margin: 30px;
    font-family: cursive;
    font-size: 20px;
}

.bod{
    height: 100%;
    width: 100%;
    background-color: green ;
}
.res-container{
display: flex;
flex-wrap: wrap;
}
.res-card {
    /* border: 2px brown solid; */
    width: 200px;
    height: 350px;
    margin: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px;
    overflow: hidden;
    
}
.res-card:hover{
    box-shadow: 0 8px 16px;
    border: 2px solid rgb(199, 13, 13);
    transition: ease 0.1s;
}
.res-logo{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border: transparent;
}